input[type=submit]{
	display:block;
	min-width:15%;
	margin-left:75%;
	height:30px;
	background-color:#ff8c00;
	color:white;
	border:solid 0.5px navy;
}
input[type=submit]:hover{
	background-color:navy;
}
.search-form{
	padding:20px;
	margin-top:1px;
	background-color:white;
}

.search-form input[type=text]{
	display:block;
	width:90%;
	margin-bottom:10px;
	height:30px;
	
}
.search-result{
	display:block;
	margin-bottom:10px;
	/*visibility:hidden;
	max-height:0px;*/
}
.error{
	color: red;
	font-size: 12px;
}